replicaCount: 2

image:
  repository: quay.io/prygiels/sma
  tag: "0.0.3"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: nginx
  annotations: {}
  hosts:
    - host: sensor-metrics.rhacs.io
      paths:
        - path: /
          pathType: Prefix
  tls: []

config:
  rulesDir: /app/automated-rules
  loadLevelDir: /app/automated-rules/load-level
  templatePath: /app/templates/markdown.tmpl
  maxFileSize: "52428800"
  requestTimeout: "60s"

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi
