rule_type = "composite"
display_name = "cluster_entities_relationship"
description = """
Validate cluster entities relation of number of containers, their endpoints (ports), and IP addresses.
"""

reviewed = "Partially, by a human"
last_review_by = "Piotr"
last_review_on = "30-01-2026"

[composite_config]

[[composite_config.metrics]]
name = "containers"
source = "rox_sensor_num_containers_in_clusterentities_store"

[[composite_config.metrics]]
name = "endpoints"
source = "rox_sensor_num_endpoints_in_clusterentities_store"

[[composite_config.metrics]]
name = "ips"
source = "rox_sensor_num_ips_in_clusterentities_store"

[[composite_config.checks]]
check_type = "not_zero"
metrics = ["containers", "endpoints", "ips"]
status = "red"
message = "Entities: {containers} containers, {endpoints} endpoints, {ips} IPs - Zero detected!"

[[composite_config.checks]]
check_type = "ratio"
numerator = "endpoints"
denominator = "containers"
min_ratio = 0.5
status = "yellow"
message = """
Entities: {containers} containers, {endpoints} endpoints, {ips} IPs - Low endpoint to container ratio.
This roughly means that more than half of the containers have 0 endpoints (ports). 
This is unusual, however possible.
"""

[[composite_config.checks]]
check_type = "ratio"
numerator = "ips"
denominator = "endpoints"
min_ratio = 0.5
status = "yellow"
message = """
Entities: {containers} containers, {endpoints} endpoints, {ips} IPs - Low IP to endpoints ratio.
We expect that there should be more unique IP addresses assigned to this number of containers and endpoints.
"""

[messages]
green = "Entities: {containers} containers, {endpoints} endpoints, {ips} IPs (healthy ratios)"

[remediation]
red = "Zero entities detected - Sensor cannot see cluster resources. Check Sensor connectivity and permissions."
yellow = "Low entity ratios detected - investigate data pipeline integrity."

acs_versions = ["4.7+", "4.8+", "4.9+"]

